 /* Reset default styles for the video and buttons */
        audio, button {
            margin: 10px;
            padding: 8px 12px;
            border: 1px solid black;
            cursor: pointer;
            background-color: #f1f3f4;
            border-radius: 50px;
            font-size: 16px;
        }

        /* Style the video container */
        audio {
            width: 100%;
            max-width: 800px;
            display: block;
            margin: 0 auto;
        }

        /* Style the buttons */
        button:hover {
            background-color: red;
            color: white;
        }

        /* Center the buttons */
        button {
            display: inline-block;
            vertical-align: middle;
			
        }

        /* Add some spacing */
        body {
            text-align: center;
            padding: 20px;
        }